<div class="container-fluid">
  <app-page-title title="Paquetes" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
           <!--  <div class="col-sm-4">
              <div class="search-box mr-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="term">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-right">
                <button  (click)="openModal(contentNuevoPaq)"   type="button" class="btn btn-success btn-rounded mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i>
                  Nuevo paquete</button>
              </div>
            </div> -->
            <!-- end col-->
          </div>

          <!-- Table data -->
          <app-transaction [transactions]="transactions |  filter:term"></app-transaction>
          <ul class="pagination pagination-rounded justify-content-end mb-2">
            <li class="page-item disabled">
              <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                <i class="mdi mdi-chevron-left"></i>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="javascript: void(0);">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript: void(0);">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript: void(0);">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript: void(0);">4</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript: void(0);">5</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript: void(0);" aria-label="Next">
                <i class="mdi mdi-chevron-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ng-template #contentNuevoPaq role="document" let-modal>
    
    <div class="modal-header">
      <h5 class="modal-title mt-0">Nuevo Paquete</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
     
      <p class="mb-2" hidden>
        ID <br>
        <input id="id"  name="id" type="text"  class="form-control" formControlName="nombre"> 
      </p>
       <p class="mb-2">
        Nombres <br>
        <input id="nombre"  name="nombre" type="text"  class="form-control"
        placeholder="">
      </p>
      <p class="mb-2">
        Decripción <br>
        <input id="email"  name="email" type="text"  class="form-control"
        placeholder="">
        
      </p>
      <p class="mb-2">
        Total 
        <input id="password"  name="password" type="password"  class="form-control"
        placeholder="">
      </p>
      <p class="mb-2">
        Rol <br>
        <select id="rol" name="rol" type="text"  placeholder="Enter Project Budget..."
        class="form-control"> 
        <option value="admin">Administrador</option>
         <option value="developer">Desarrollador</option>               
        <option value="contable">Contable</option>
        <option value="operador">Operador</option>
      </select>
      </p>
    
    </div>
        <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="Actual()" >Actualizar</button> 
      <!--<button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>-->
    </div>

  </ng-template>
</div>
<ngx-spinner></ngx-spinner>