<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->
<h5>PROFESIONALES</h5> <hr>
  <div class="row">
    <div class="col-xl-6 col-sm-12" *ngFor="let data of profesionales">
      <div class="card text-center">
        <div class="card-body">
          <div class="mb-6">
            <img style="width: 100%; height: 40%;" src="{{data.cedula}}" alt />
          </div>
      
          <!-- <div *ngIf="data.fotografia_perfil" class="mb-4">
            <img class="rounded-circle avatar-sm" src="{{data.fotografia_perfil}}" alt />
          </div> -->
          
          <h5 *ngIf="data.nombreEmpresa" class="font-size-15"><a href="javascript: void(0);" class="text-dark">{{data.nombreEmpresa}}</a></h5>
          <p class="text-muted">{{data.nombre}}</p>
          <p class="text-muted">{{data.tipo | titlecase}}</p>
          <div>
            <!-- <a href="javascript: void(0);" class="badge badge-primary font-size-11 m-1">{{data.projects[0]}}</a>
            <a href="javascript: void(0);" class="badge badge-primary font-size-11 m-1">{{data.projects[1]}}</a>
            <a href="javascript: void(0);" class="badge badge-primary font-size-11 m-1">{{data.projects[2]}}</a> -->

            <a  class="badge badge-primary font-size-11 m-1" style="color: white;" (click)="aprobar(data)">APROBADO</a>
            <a class="badge badge-primary font-size-11 m-1" style="color: white;" (click)="openModal(contentEdit, data)">DENEGADO</a>
          </div>
        </div>
        <!-- <div class="card-footer bg-transparent border-top">
          <div class="contact-links d-flex font-size-20">
            <div class="flex-fill">
              <a href="javascript: void(0);" ngbTooltip="Message"><i class="bx bx-message-square-dots"></i></a>
            </div>
            <div class="flex-fill">
              <a href="javascript: void(0);" ngbTooltip="Projects"><i class="bx bx-pie-chart-alt"></i></a>
            </div>
            <div class="flex-fill">
              <a href="javascript: void(0);" ngbTooltip="Profile"><i class="bx bx-user-circle"></i></a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

    <h5>USUARIOS</h5> <hr><br>
    <div class="row">
    <div class="col-xl-6 col-sm-12" *ngFor="let data of usuarios">
      <div class="card text-center">
        <div class="card-body">
          <div class="mb-6">
            <img style="width: 100%; height: 40%;" src="{{data.cedula}}" alt />
          </div>          
          <h5 *ngIf="data.nombreEmpresa" class="font-size-15"><a href="javascript: void(0);" class="text-dark">{{data.nombreEmpresa}}</a></h5>
          <p class="text-muted">{{data.nombre}}</p>
          <p class="text-muted">{{data.tipo | titlecase}}</p>
          <div>
            <!-- <a href="javascript: void(0);" class="badge badge-primary font-size-11 m-1">{{data.projects[0]}}</a>
            <a href="javascript: void(0);" class="badge badge-primary font-size-11 m-1">{{data.projects[1]}}</a>
            <a href="javascript: void(0);" class="badge badge-primary font-size-11 m-1">{{data.projects[2]}}</a> -->

            <a  class="badge badge-primary font-size-11 m-1" style="color: white;" (click)="aprobar(data)">APROBADO</a>
            <a class="badge badge-primary font-size-11 m-1" style="color: white;" (click)="openModal(contentEdit, data)">DENEGADO</a>
          </div>
        </div>
        <!-- <div class="card-footer bg-transparent border-top">
          <div class="contact-links d-flex font-size-20">
            <div class="flex-fill">
              <a href="javascript: void(0);" ngbTooltip="Message"><i class="bx bx-message-square-dots"></i></a>
            </div>
            <div class="flex-fill">
              <a href="javascript: void(0);" ngbTooltip="Projects"><i class="bx bx-pie-chart-alt"></i></a>
            </div>
            <div class="flex-fill">
              <a href="javascript: void(0);" ngbTooltip="Profile"><i class="bx bx-user-circle"></i></a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  
  <!-- end row -->

  <div class="row">
    <!-- <div class="col-12">
      <div class="text-center my-3">
        <a href="javascript:void(0);" class="text-success"><i class="bx bx-hourglass bx-spin mr-2"></i> Load more </a>
      </div>
    </div>  -->
  </div>
  <!-- end row -->
  <ng-template #contentEdit role="document" let-modal>
    
    <div class="modal-header">
      <h5 class="modal-title mt-0">Verificación negada</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
     
      <!-- <p class="mb-2" hidden>
        ID <br>
        <input id="id"  name="id" type="text" [(ngModel)]="editdata.nombre" class="form-control">
      
      </p> -->
       <p class="mb-2">
        JUSTIFICACIÓN <br>
        <textarea id="negado"  name="negado" type="text" [(ngModel)]="editdata.negado" class="form-control"
        placeholder="Ingrese la razón por la que no ha sido verificada"></textarea>
        <!--<span class="text-primary">Fernanda Castilla</span>-->
      </p>
     
      
    </div>
        <div class="modal-footer">
      <!-- <button type="submit" class="btn btn-primary" (click)="Actual()" >Actual</button>  -->
      <button type="submit" class="btn btn-primary" (click)="Rechazar(editdata.id,editdata.negado,editdata.token)" >Enviar</button> 
      <!--<button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>-->
    </div>

  </ng-template>
</div> <!-- container-fluid -->
<ngx-spinner></ngx-spinner>