<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">2Look</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Bienvenido </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-3">
            <div class="card overflow-hidden">
                <div class="bg-soft-primary">
                    <div class="row">
                        <div class="col-7">
                            <div class="text-primary p-3">
                                <!-- <h5 class="text-primary">Bienvenido ! {{ message | async | json }}</h5> -->
                                <h5 class="text-primary">Bienvenido</h5>
                                <!-- <p *ngIf="authenticated.currentUser.rol === 'admin'">Administrador</p>
                                <p *ngIf="authenticated.currentUser.rol === 'developer'">Desarrollador</p>
                                <p *ngIf="authenticated.currentUser.rol === 'contable'">Contable</p>
                                <p *ngIf="authenticated.currentUser.rol === 'operador'">Operador</p> -->
                            </div>
                        </div>
                        <div class="col-5 align-self-end">
                            <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="avatar-md profile-user-wid mb-12">
                                <img [src]="authenticated.currentUser.fotografia" alt="" class="img-thumbnail" style="height: 80%; width: 130%;" >
                            </div>
                            <div class="row">
                                <div class="col-12">
                                   
                                    <h5 class="font-size-15 text-truncate">{{authenticated.currentUser.nombre}}</h5>
                                    <p class="text-muted mb-0 text-truncate" *ngIf="authenticated.currentUser.rol === 'admin'">Administrador</p>
                                    <p class="text-muted mb-0 text-truncate" *ngIf="authenticated.currentUser.rol === 'developer'">Desarrollador</p>
                                    <p class="text-muted mb-0 text-truncate" *ngIf="authenticated.currentUser.rol === 'contable'">Contable</p>
                                    <p class="text-muted mb-0 text-truncate" *ngIf="authenticated.currentUser.rol === 'operador'">Operador</p>
                                </div>
                              
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="pt-4">

                               
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Transacciones</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="text-muted">This month</p>
                            <h3>$34,252</h3>
                            <p class="text-muted"><span class="text-success mr-2"> 12% <i class="mdi mdi-arrow-up"></i>
                                </span> From
                                previous period</p>

                            <div class="mt-4">
                                <a href="" class="btn btn-primary btn-sm">View More <i
                                        class="mdi mdi-arrow-right ml-1"></i></a>
                            </div>
                        </div>
                        <div class="col-sm-6">

                            <apx-chart dir="ltr" class="apex-charts" [series]="monthlyEarningChart.series"
                                [chart]="monthlyEarningChart.chart" [legend]="monthlyEarningChart.legend"
                                [colors]="monthlyEarningChart.colors" [labels]="monthlyEarningChart.labels"
                                [stroke]="monthlyEarningChart.stroke" [plotOptions]="monthlyEarningChart.plotOptions">
                            </apx-chart>
                        </div>
                    </div>
                    <p class="text-muted mb-0">We craft digital, graphic and dimensional thinking.</p>
                </div>
            </div> -->
        </div>
        <div class="col-xl-9">
            <div class="row" *ngIf="show">
                <div *ngFor="let stat of statData" class="col-md-3" >
                    <app-stat *ngIf="stat.title === 'Pago paquetes' || stat.title === 'Pago multas' || stat.title === 'Ventas totales'" [title]="stat.title" [value]="stat.value | currency" [icon]="stat.icon"></app-stat>
                    <app-stat *ngIf="!(stat.title == 'Pago paquetes' || stat.title === 'Pago multas' || stat.title === 'Ventas totales')" [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
                    
                </div>
                
            </div>
        </div>
      
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4 float-sm-left">Reporte estadístico</h4>
                    <div class="float-sm-right">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active">{{fecha}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <apx-chart dir="ltr" class="apex-charts" [chart]="emailSentBarChart.chart" *ngIf="show"
                        [series]="emailSentBarChart.series" [legend]="emailSentBarChart.legend"
                        [colors]="emailSentBarChart.colors" [fill]="emailSentBarChart.fill"
                        [dataLabels]="emailSentBarChart.dataLabels" [xaxis]="emailSentBarChart.xaxis"
                        [plotOptions]="emailSentBarChart.plotOptions">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner></ngx-spinner>
</div>
