<div class="container-fluid">
  <app-page-title title="2Look Soluciones" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-lg-12">
      <div class>
        <div class="table-responsive">
          <table class="table project-list-table table-nowrap table-centered table-borderless">
            <thead>
              <tr>
                <th scope="col">Usuario envia</th>
                <th scope="col">Usuario recibe</th>
                <th scope="col">Problema notificado</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>


              <tr *ngFor="let project of projectData">

                <td>
                  <p class="text-muted mb-0">{{project.nombre_envia}} </p>
                  <p class="text-muted mb-0">{{project.correo_envia}} </p>
                  <p class="text-muted mb-0">{{project.telefono_envia}} </p>
                </td>
                <td>
                  <p class="text-muted mb-0">{{project.nombre_recibe}} </p>
                  <p class="text-muted mb-0">{{project.correo_recibe}} </p>
                  <p class="text-muted mb-0">{{project.telefono_recibe}} </p>
                </td>
                <!-- <td>
                    <button type="button" class="btn btn-warning btn-sm btn-rounded" (click)="openModal(contentMotivo, project)">Mostrar</button>
                </td> -->

                <td>
                  <textarea style="border: transparent; width: 100%;" disabled> {{project.problema}}</textarea>
                  <!-- <button type="button" class="btn btn-warning btn-sm btn-rounded" (click)="openModal(contentNotificacion, project)">Mostrar</button>
                   -->
                </td>
                <td>
                  <p class="text-muted mb-0" *ngIf="project.status">Activo</p>
                  <p class="text-muted mb-0" *ngIf="!project.status">Inactivo</p>
                </td>
                <td>
                  <p class="text-muted mb-0">{{project.created_at}}</p>
                </td>




                <td>
                  <div class="dropdown" ngbDropdown placement="bottom-right">
                    <a href="javascript: void(0);" class="dropdown-toggle card-drop" ngbDropdownToggle>
                      <i class="mdi mdi-dots-horizontal font-size-18"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                      <a class="dropdown-item" (click)="openModal(contentMotivo,project)">Solución</a>
                      <a class="dropdown-item" (click)="openModal(contentSolucion2, project)">Solución con bloqueo</a>
                      <!-- <a class="dropdown-item" (click)="openModal(contentSolucion1, project)">Solución con motivo</a>
                        <a class="dropdown-item" (click)="openModal(contentSolucion2, project)">Solución con recargo</a>
                      
                       -->
                    </div>

                  </div>


                  <!--
                   
                    <div class="dropdown" ngbDropdown placement="bottom-right">
                      <button type="button" class="btn btn-primary btn-sm btn-rounded" (click)="openModal(contentSolucion, project)">Solucionado</button>
                       <a class="dropdown-item" (click)="delete(project)">Eliminar</a>
                      
                     
                    </div>-->

                </td>



                <br>
              </tr><br><br><br>
            </tbody><br>
          </table><br>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-12">
      <!--
  
        <div class="text-center my-3">
          <a href="javascript:void(0);" class="text-success">
            <i class="bx bx-loader bx-spin font-size-18 align-middle mr-2"></i> Buscando
          </a>
        </div>
  -->


    </div>
    <!-- end col-->
  </div>

  <ng-template #contentNotificacion role="document" let-modal>

    <div class="modal-header">
      <h5 class="modal-title mt-0">Motivo Detalle</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">

      <p class="mb-2" hidden>
        ID <br>
        <input id="id" name="id" type="text" [(ngModel)]="editdata.id" class="form-control">
        <!--<span class="text-primary">Fernanda Castilla</span>-->
      </p>

      <p class="mb-2">
        <br>
        <textarea id="problema" style="height: 150px; border: transparent;" name="problema" type="text"
          [(ngModel)]="editdata.problema" class="form-control" placeholder=""></textarea><br>
        <!--<span class="text-primary">Fernanda Castilla</span>-->
      </p>

    </div>
  </ng-template>


  <!--DEVOLUCION MOTIVO-->
  <ng-template #contentSolucion1 role="document" let-modal>

    <div class="modal-header">
      <h5 class="modal-title mt-0">Thanku Soluciones</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">

      <p class="mb-2" hidden>
        ID <br>
        <input id="id" name="id" type="text" [(ngModel)]="editdata.id" class="form-control">
        <!--<span class="text-primary">Fernanda Castilla</span>-->
      </p>

      <div style="align-content:center;">
        <h5>Solución realizada</h5>
      </div>

      <textarea id="solucion" [(ngModel)]="editdata.solucion" name="solucion" type="text" class="form-control"
        placeholder="Ingrese la solución detalladamente" style="background-color:#eef0f0; height:150px;"></textarea>
      <div class="modal-footer" style="align-content: center;">
        <!-- <button type="submit" class="btn btn-primary" (click)="solucion1(editdata)"  >Enviar</button>  -->
        <button type="submit" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Salir</button>
        <!--<button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>-->
      </div>
    </div>
  </ng-template>

  <!--FRAUDE-->
  <ng-template #contentSolucion2 role="document" let-modal>

    <div class="modal-header">
      <h5 class="modal-title mt-0">2Look Soluciones</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">

      <p class="mb-2" hidden>
        ID <br>
        <input id="id_usuario_envia" name="id_usuario_envia" type="text" [(ngModel)]="editdata.id_usuario_envia"
          class="form-control">
        <!--<span class="text-primary">Fernanda Castilla</span>-->
      </p>
      <p class="mb-2" hidden>
        ID <br>
        <input id="id_usuario_envia" name="id_usuario_envia" type="text" [(ngModel)]="editdata.id_usuario_recibe"
          class="form-control">
        <!--<span class="text-primary">Fernanda Castilla</span>-->
      </p>

      <div style="align-content:center;">

        <h5>Solución</h5>

      </div>
      <textarea id="solucion" [(ngModel)]="editdata.solucion" name="solucion" type="text" class="form-control"
        placeholder="Ingrese la solucion detallada" style="height:100px;"></textarea><br>


      <table class="table">
        <tr align="center" style="background-color:#eef0f0; color:black; height: 5px;">
          <td colspan="3" style="font-stretch: extra-condensed;">USUARIO ENVIA

            <p class="text-muted mb-0" >{{editdata.nombre_envia}} </p>
            <p class="text-muted mb-0">{{editdata.correo_envia}} </p>
            <p class="text-muted mb-0">{{editdata.telefono_envia}} </p>
          </td>
          <td>
            <button type="submit" class="btn btn-warning"
              (click)="bloquearUserEnvia(editdata.id_usuario_envia,editdata.solucion,editdata.token_envia)">Bloquear</button>
          </td>
          <td>
            <button type="submit" class="btn btn-light"
              (click)="bloquearUserEnviaRet(editdata.id_usuario_envia,editdata.solucion,editdata.token_envia)">
              <span class="avatar-title rounded-circle bg-light">
                <img src="assets/images/return.png" alt="" class="rounded-circle" height="20px">
              </span>
            </button>
          </td>
        </tr>

        <tr align="center" style="background-color:#eef0f0; color:black; height: 5px;">
          <td colspan="3" style="font-stretch: extra-condensed;">USUARIO RECIBE
            <p class="text-muted mb-0">{{editdata.nombre_recibe}} </p>
            <p class="text-muted mb-0">{{editdata.correo_recibe}} </p>
            <p class="text-muted mb-0">{{editdata.telefono_recibe}} </p>
          </td>
          <td>
            <button type="submit" class="btn btn-warning"
              (click)="bloquearUserRecibe(editdata.id_usuario_recibe,editdata.solucion,editdata.token_recibe)">Bloquear</button>
          </td>
          <td>
            <button type="submit" class="btn btn-light"
              (click)="bloquearUserRecibeRet(editdata.id_usuario_recibe,editdata.solucion,editdata.token_recibe)">
              <span class="avatar-title rounded-circle bg-light">
                <img src="assets/images/return.png" alt="" class="rounded-circle" height="20px">
              </span>
            </button>
          </td>
        </tr>


      </table>



      <div class="modal-footer" style="align-content: center;">


        <button type="submit" class="btn btn-primary"
          (click)="solucionar(editdata.id,editdata.id_usuario_envia,editdata.id_usuario_recibe,editdata.solucion,editdata.token_envia,editdata.token_recibe)">Guardar</button>
        <button type="submit" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Salir</button>
        <!--<button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>-->
      </div>
    </div>
  </ng-template>

  <!-- TODDO MODAL -->









  <ng-template #contentMotivo role="document" let-modal>

    <div class="modal-header">
      <h5 class="modal-title mt-0">Detalle problema</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">

      <p class="mb-2">
        Solución <br>
        <textarea id="solucion" style="height: 150px; border: transparent;" name="solucion" type="text"
          [(ngModel)]="editdata.solucion" class="form-control" placeholder=""></textarea><br>
      </p>

      <p class="mb-2">
        <br>
        <button type="submit" class="btn btn-primary"
          (click)="solucionar(editdata.id,editdata.id_usuario_envia,editdata.id_usuario_recibe,editdata.solucion,editdata.token_envia,editdata.token_recibe)">Guardar</button>
      </p>

    </div>
  </ng-template>



</div>

<ngx-spinner></ngx-spinner>