<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Comprobante - Tranferencia /Deposito" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->
  
    <div class="row">
      <div class="col-xl-6 col-sm-12" *ngFor="let data of projectData">
        <div class="card text-center">
          <div class="card-body">
            
            <div class="mb-6">
              <img style="width: 100%; height: 40%;" src="{{data.transferencia_fotografia}}" alt />
            </div>
        
            <div *ngIf="data.nombre" class="mb-4">
              <img class="rounded-circle avatar-sm" src="{{data.nombre}}" alt />
            </div>
             <p class="text-muted">Valor a pagar: ${{data.total }}</p>
            <p class="text-muted">{{data.motivo }}</p>
            <p class="text-muted">{{data.fecha}}</p>
            <p class="text-muted">{{data.pago }}</p>
            <input id="id_transferencia" [(ngModel)]="data.id_transferencia" name="id_transferencia" type="text" class="form-control"
            placeholder="Ingrese el ID transferencia" style="background-color:#a7dddd" >
           
            
              <a  class="badge badge-primary font-size-11 m-1" style="color: white;" (click)="aprobar(data.id,data.id_transferencia,data.token,data.id_usuario)">VERIFICADO</a>
              <a class="badge badge-primary font-size-11 m-1" style="color: white;" (click)="openModal(contentEdit, data)">NEGADO</a>
            </div>
          </div>
         
        </div>
      </div>
    
      
    
    <!-- end row -->
  
    <div class="row">
      <!-- <div class="col-12">
        <div class="text-center my-3">
          <a href="javascript:void(0);" class="text-success"><i class="bx bx-hourglass bx-spin mr-2"></i> Load more </a>
        </div>
      </div>  -->
    </div>
    <!-- end row -->
    <ng-template #contentEdit role="document" let-modal>
    
      <div class="modal-header">
        <h5 class="modal-title mt-0">Verificación negada</h5>
        <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
      </div>
      <div class="modal-body">
       
        <!-- <p class="mb-2" hidden>
          ID <br>
          <input id="id"  name="id" type="text" [(ngModel)]="editdata.nombre" class="form-control">
        
        </p> -->
         <p class="mb-2">
          JUSTIFICACIÓN <br>
          <textarea id="negado"  name="negado" type="text" [(ngModel)]="editdata.negado" class="form-control"
          placeholder="Ingrese la razón por la que no ha sido verificada"></textarea>
          <!--<span class="text-primary">Fernanda Castilla</span>-->
        </p>
       
        
      </div>
          <div class="modal-footer">
        <!-- <button type="submit" class="btn btn-primary" (click)="Actual()" >Actual</button>  -->
        <button type="submit" class="btn btn-primary" (click)="Rechazar(editdata.id,editdata.negado,editdata.token,editdata.id_usuario)" >Enviar</button> 
        <!--<button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>-->
      </div>
  
    </ng-template>
  </div> <!-- container-fluid -->
  <ngx-spinner></ngx-spinner>