<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Ingresar nuevo usuario/profesional" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->
  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">

           

            <h4 class="card-title mb-4">Información Básica (Usuario)</h4>


            
            <form [formGroup]="UserForm">

            <table class="table">
                <tr>
                    <th> 
                        <div class="form-group row mb-4">
                            <label for="projectbudget" class="col-form-label col-lg-4">Tipo</label>
                            <div class="col-lg-8">
                              <select id="tipo" formControlName="tipo" [(ngModel)]="newUser.tipo" name="tipo" type="text" placeholder="Enter Project Budget..."
                                class="form-control"> 
                                <option value="usuario">Usuario</option>
                                <option value="profesional">Profesional</option>               
                                       
                              </select>
                            </div>
                          </div>  
                       
                    </th>
                    <!-- <th>
                       
                        <div class="form-group row mb-4">
                            <label  for="projectname" class="col-form-label col-lg-4">Correo</label>
                            <div class="col-lg-8">
                              <input id="correo" formControlName="correo" [(ngModel)]="newUser.correo" name="correo" type="text" class="form-control"
                                placeholder="Ingrese su correo">
                            </div>
                          </div>

                       
                    </th> -->
                </tr>
                <tr>
                   
                    <th>

                        <div class="form-group row mb-4">
                            <label  for="projectname" class="col-form-label col-lg-4">Nombre</label>
                            <div class="col-lg-8">
                              <input id="nombre" formControlName="nombre" [(ngModel)]="newUser.nombre" name="nombre" type="text" class="form-control"
                                placeholder="Ingrese su nombre completo">
                            </div>
                          </div>
                        
                    </th>
                    <th> 
                        <div class="form-group row mb-4">
                        <label  for="projectname" class="col-form-label col-lg-4">Celular</label>
                        <div class="col-lg-8">
                          <input id="celular" formControlName="celular" [(ngModel)]="newUser.celular" name="celular" type="text" class="form-control"
                            placeholder="Ingrese su número telefónico">
                        </div>
                      </div>
                    </th>
                </tr>


                <tr>
                    <th>   
                      <div class="form-group row mb-4">
                        <label  for="projectname" class="col-form-label col-lg-4">Correo</label>
                        <div class="col-lg-8">
                          <input id="correo" formControlName="correo" [(ngModel)]="newUser.correo" name="correo" type="text" class="form-control"
                            placeholder="Ingrese su correo">
                        </div>
                      </div>
                    </th>
                    <th>   
                      <div class="form-group row mb-4">
                          <label for="projectdesc" class="col-form-label col-lg-4">Clave</label>
                          <div class="col-lg-8">
                          <!-- <textarea class="form-control" id="projectdesc" rows="3"
                              placeholder="Enter Project Description..."></textarea>-->
                          
                              <input id="contrasenia"  formControlName="contrasenia" [(ngModel)]="newUser.contrasenia" name="contrasenia" type="text" class="form-control"
                                  placeholder="Ingrese una contraseña">
                          
                          </div>
                      </div>
                  </th>
                    
                     
                </tr>
               
              <br>
              
            </table>
            <tr>
              <th>

                <div class="form-group row mb-6">
                  <label for="projectdesc" class="col-form-label col-lg-2">Imagen Cédula</label>
                  <div class="col-lg-4">
                  <div (change)="fileProgress($event)" class="alert alert-success"> Seleccione una imagen de la cédula aqui...<input type="file" class="custom-file-input" id="customFileLang" lang="es"></div>
                   
                 </div>
                 <img [src]="newUser.cedula" alt="" style="width: 10%;" id="cedula" nombre="cedula">
    
                  </div>
              </th>
            </tr>
            <table>
          
            </table>
           
              <h4 class="card-title mb-4">Información Adicional (Profesional)</h4><hr>
              
            <table class="table">
                <tr > 
                    <th colspan="2"> 
                        <div class="form-group row mb-4">
                        <label  for="projectname" class="col-form-label col-lg-6">Nombre Empresa</label>
                        <div class="col-lg-10">
                          <input id="nombreEmpresa" formControlName="nombreEmpresa" [(ngModel)]="newUser.nombreEmpresa"  name="nombreEmpresa" type="text" class="form-control"
                            placeholder="Ingrese el nombre de la empresa">
                        </div>
                      </div>
                    </th>

                    <th>
                      <div class="form-group row mb-4">
                         <label  for="projectname" class="col-form-label col-lg-6">Experiencia (Años)</label>
                         <div class="col-lg-10">
                           <input id="anosExperiencia" formControlName="anosExperiencia" [(ngModel)]="newUser.anosExperiencia"  name="anosExperiencia" type="number" class="form-control"
                             placeholder="Años de experiencia">
                         </div>
                       </div>
                 </th>
                    <th> 
                      <div class="form-group row mb-4">
                      <label  for="projectname" class="col-form-label col-lg-6">Estrellas</label>
                      <div class="col-lg-10">
                        <input id="estrellas" formControlName="estrellas" [(ngModel)]="newUser.estrellas"  name="estrellas" type="number" class="form-control"
                          placeholder="Ingrese su número de estrellas">
                      </div>
                    </div>
                  </th>
                  
                   
                </tr>
                <!-- <tr>
                   
                    <th>
                        <div class="form-group row mb-4">
                           <label  for="projectname" class="col-form-label col-lg-2">Años</label>
                           <div class="col-lg-2">
                             <input id="anosExperiencia" formControlName="anosExperiencia" name="anosExperiencia" type="number" class="form-control"
                               placeholder="Años de experiencia">
                           </div>
                         </div>
                   </th>
                    <th> 
                        <div class="form-group row mb-4">
                        <label  for="projectname" class="col-form-label col-lg-2">Estrellas</label>
                        <div class="col-lg-10">
                          <input id="estrellas" formControlName="estrellas" name="estrellas" type="number" class="form-control"
                            placeholder="Ingrese su número de estrellas">
                        </div>
                      </div>
                    </th>
                </tr> -->
           
              
            </table>

            <div hidden>
            <h4 class="card-title mb-4">Información Oculta</h4><hr>
             
            <div class="form-group row mb-4">
                <label for="projectbudget" class="col-form-label col-lg-2">Recom.</label>
                <div class="col-lg-10">
                  <select id="recomendado" formControlName="recomendado" name="recomendado" type="text" placeholder="Enter Project Budget..."
                    class="form-control"> 
                    <option value="true">Si</option>
                    <option value="false">No</option>               
                           
                  </select>
                </div>
              </div>  
              
              
              <div class="form-group row mb-4" >
                <label for="projectdesc" class="col-form-label col-lg-2">User Action</label>
                <div class="col-lg-10">
                 <!-- <textarea class="form-control" id="projectdesc" rows="3"
                    placeholder="Enter Project Description..."></textarea>-->
                      <input id="id_user_action"  formControlName="id_user_action" name="id_user_action" type="text" class="form-control"
                        placeholder="Seleccione">
                   
                </div>
              </div>
              <div class="form-group row mb-4" >
                <label for="projectbudget2" class="col-form-label col-lg-2">Token</label>
                <div class="col-lg-10">
                    <input id="token"  formControlName="token" name="token" type="text" class="form-control"
                    placeholder="Seleccione">
                </div>
              </div> 
              <div class="form-group row mb-4" >
                <label for="projectbudget2" class="col-form-label col-lg-2">Verif_cedula</label>
                <div class="col-lg-10">
                    <input id="verif_cedula"  formControlName="verif_cedula" name="verif_cedula" type="text" class="form-control"
                    placeholder="Seleccione">
                </div>
              </div> 
              <div class="form-group row mb-4" >
                <label for="projectbudget2" class="col-form-label col-lg-2">Verif_celular</label>
                <div class="col-lg-10">
                    <input id="verif_celular"  formControlName="verif_celular" name="verif_celular" type="text" class="form-control"
                    placeholder="Seleccione">
                </div>
              </div> 
              <div class="form-group row mb-4" >
                <label for="projectbudget2" class="col-form-label col-lg-2">Verif_correo</label>
                <div class="col-lg-10">
                    <input id="verif_correo"  formControlName="verif_correo" name="verif_correo" type="text" class="form-control"
                    placeholder="Seleccione">
                </div>
              </div> 
              <div class="form-group row mb-4" >
                <label for="projectbudget2" class="col-form-label col-lg-2">Bloqueado</label>
                <div class="col-lg-10">
                    <input id="bloqueado"  formControlName="bloqueado" name="bloqueado" type="text" class="form-control"
                    placeholder="Seleccione">
                </div>
              </div> 

            </div>
                             
        
  
  
    
                <div class="col-lg-10">
                  <button type="submit" class="btn btn-primary" (click)="created()" >Añadir usuario</button>
                </div>
             
            </form>
            
          
        </div>
        </div>
        </div>
        </div>
        </div>
  <script>
    function soloLetras(e) {
      key = e.keyCode || e.which;
      tecla = String.fromCharCode(key).toString();
      letras = " áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ";//Se define todo el abecedario que se quiere que se muestre.
      especiales = [8, 37, 39, 46, 6]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.
  
      tecla_especial = false
      for(var i in especiales) {
          if(key == especiales[i]) {
              tecla_especial = true;
              break;
          }
      }
  
      if(letras.indexOf(tecla) == -1 && !tecla_especial){
  alert('Tecla no aceptada');
          return false;
        }
        }
  </script>      
  
  <ngx-spinner></ngx-spinner>