<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Ingresar nuevo administrador" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Información</h4>
          <form [formGroup]="UserForm">
            <div class="form-group row mb-4">
              <label  for="projectname" class="col-form-label col-lg-2">Nombre</label>
              <div class="col-lg-10">
                <input id="nombre" formControlName="nombre" name="nombre" type="text" class="form-control"
                  placeholder="Ingrese su nombre">
              </div>
            </div>
            <div class="form-group row mb-4">
              <label  for="projectname" class="col-form-label col-lg-2">Email</label>
              <div class="col-lg-10">
                <input id="nombre" formControlName="email" name="email" type="mail" class="form-control"
                  placeholder="Ingrese el email">
              </div>
            </div>
        
            <div class="form-group row mb-4">
              <label for="projectdesc" class="col-form-label col-lg-2">Contraseña</label>
              <div class="col-lg-10">
               <!-- <textarea class="form-control" id="projectdesc" rows="3"
                  placeholder="Enter Project Description..."></textarea>-->
               
                    <input id="password" formControlName="password" name="password" type="password" class="form-control"
                      placeholder="Ingrese una contraseña">
                 
              </div>
            </div>

            <div class="form-group row mb-4">
              <label for="projectbudget" class="col-form-label col-lg-2">Rol</label>
              <div class="col-lg-10">
                <select id="rol" formControlName="rol" name="rol" type="text" placeholder="Enter Project Budget..."
                  class="form-control"> 
                  <option value="admin">Administrador</option>
                  <option value="developer">Desarrollador</option>               
                 <option value="contable">Contable</option>
                 <option value="operador">Operador</option>         
                </select>
              </div>
            </div>                       
            <div class="form-group row mb-4">
              <label for="projectdesc" class="col-form-label col-lg-2">Fotografía</label>
              <div class="col-lg-5">

                
                
                <div class="alert alert-success"> Seleccione aqui...<input type="file" class="custom-file-input" id="customFileLang" lang="es"
                (change)="fileProgressLicencia($event)"></div></div>
                <div class="col-lg-5">

                <img *ngIf="imgBase64Path" src="{{imgBase64Path}}" alt="" style="width: 50%; height: 100%;"  id="fotografia" nombre="fotografia" formControlName="fotografia">
                <br>
              <!-- <ngx-dropzone (change)="onSelect($event)" id="fotografia" formControlName="fotografia" name="fotografia" >
                  <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
                  <ngx-dropzone-preview  *ngFor="let f of files"  [removable]="true" (removed)="onRemove(f)"  >
                      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone> 
 -->

              </div>
            </div>
  
              <div class="col-lg-10">
                <button type="submit" class="btn btn-primary" [disabled]="!UserForm.valid" (click)="onSubmit()" >Añadir administrador</button>
              </div>
           
          </form>
          
        
      </div>
      </div>
      </div>
      </div>
      </div>
<script>
  function soloLetras(e) {
    key = e.keyCode || e.which;
    tecla = String.fromCharCode(key).toString();
    letras = " áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ";//Se define todo el abecedario que se quiere que se muestre.
    especiales = [8, 37, 39, 46, 6]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.

    tecla_especial = false
    for(var i in especiales) {
        if(key == especiales[i]) {
            tecla_especial = true;
            break;
        }
    }

    if(letras.indexOf(tecla) == -1 && !tecla_especial){
alert('Tecla no aceptada');
        return false;
      }
      }
</script>      

<ngx-spinner></ngx-spinner>