<div class="container-fluid">
  <app-page-title title="Paquetes" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
<div class="table-responsive mb-0">
    <table class="table table-centered table-nowrap">
      <thead class="thead-light">
        <tr>
          <!-- <th style="width: 20px;">
            <div class="custom-control custom-checkbox">
              <input id="customCheck" type="checkbox" class="custom-control-input" />
              <label class="custom-control-label" for="customCheck">&nbsp;</label>
            </div>
          </th> -->
          <!-- <th>ID</th> -->
          
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Total</th>
          <th>Estado</th>
          <th>Fecha creación</th>
          <th>Detalle</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of projectData">
          <!-- <td>
            <div class="custom-control custom-checkbox">
              <input id="customCheck{{data.index}}" type="checkbox" class="custom-control-input" />
              <label class="custom-control-label" for="customCheck{{data.index}}">&nbsp;</label>
            </div>
          </td> -->
          <!-- <td>
            <a href="javascript: void(0);" class="text-body font-weight-bold">{{data.nombre}}</a>
          </td> -->
          
          <td>{{data.nombre}}</td>
          <td>{{data.descripcion}}</td>
          <td>{{data.valor}}</td>
          <td>
           
              <p class="text-muted mb-0" *ngIf="data.status">Activo</p>
              <p class="text-muted mb-0" *ngIf="!data.status">Inactivo</p>
             
          </td>
          <td>{{data.created_at}}</td>
          <!-- <td>
            <i :class="`fab ${data.payment[0]} mr-1`"></i>
            {{data.payment[1]}}
          </td> -->
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm btn-rounded" (click)="openModal(content, data)">Detalle</button>
          </td>
          <td>
            <div class="dropdown" ngbDropdown placement="bottom-right">
              <a href="javascript: void(0);" class="dropdown-toggle card-drop" ngbDropdownToggle>
                <i class="mdi mdi-dots-horizontal font-size-18"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                <!-- <a class="dropdown-item" (click)="openModal(contentEdit, data)">Editar</a> -->
                <a class="dropdown-item"  (click)="activar(data.id)">Activar</a>
                <!-- <a class="dropdown-item" href="javascript: void(0);">Something else here</a> -->
             
              </div>
            </div>
          </td><br><br>
        </tr><br><br>
      </tbody>
    </table>
  
    <ng-template #content role="document" let-modal>
      <div class="modal-header">
        <h5 class="modal-title mt-0">Detalle paquete</h5>
        <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
      </div>
      <div class="modal-body">
        <p class="mb-2" >
          
          <input  style="align-content: center; font-family: Times; size: 70px; color: darkcyan;" id="nombre"  disabled style="border: transparent;" name="id" type="text" [(ngModel)]="editdata.nombre" class="form-control">
        </p>
     
        <div class="table-responsive">
          <table class="table">
            <!-- <tr>
                    
                <th><img id="fotografia" disabled style="border: transparent; width: 8rem; height: 7rem;" name="nombre" src="{{editdata.explicaciontografia}}" class="form-control"></th>
                <th> <input id="nombre" disabled style="border: transparent;" name="nombre" type="text" [(ngModel)]="editdata.usuario.nombre" class="form-control"
                    placeholder=""><input id="nombre" disabled style="border: transparent;" name="nombre" type="text" [(ngModel)]="editdata.usuario.apellidos" class="form-control"
                    placeholder=""></th>
             </tr> -->
               <tr >
                  
                   <th colspan="2"><textarea id="id"  disabled style="border: transparent;" name="id" type="text" [(ngModel)]="editdata.explicacion" class="form-control"></textarea>
                </tr>
                
                 <tr>
                    <th>Valor </th>
                    <th><input id="nombre" disabled style="border: transparent;" name="nombre" type="text" [(ngModel)]="editdata.valor" class="form-control"
                        placeholder=""></th>
                 </tr>
                 <tr>
                    <th>Creado </th>
                    <th><input id="nombre" disabled style="border: transparent;" name="nombre" type="text" [(ngModel)]="editdata.created_at" class="form-control"
                        placeholder=""></th>
                 </tr>
                 <tr>
                    <th>Expiración </th>
                    <th><input id="nombre" disabled style="border: transparent;" name="nombre" type="text" [(ngModel)]="editdata.fecha_espiracion" class="form-control"
                        placeholder=""></th>
                 </tr>
                 
                 <tr>
                    <th>Estado </th>
                    <th><input id="nombre" disabled style="border: transparent;" name="nombre" type="text" [(ngModel)]="editdata.nombre" class="form-control"
                        placeholder=""></th>
                 </tr>
          
         
        </table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
  </div>
</div>
</div>
</div>
</div>
</div>

  <!-- end table -->