<div class="container-fluid">
    <app-page-title title="Administradores activos" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row">
      <div class="col-sm-12">
        <div class="text-sm-right">
          <button type="button" (click)="openModal(contentNuevo)" class="btn btn-success btn-rounded mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i>
            Nuevo administrador</button>
        </div>
      </div>
      <div class="col-lg-12">
        <div class>
          <div class="table-responsive">
            <table class="table project-list-table table-nowrap table-centered table-borderless">
              <thead>
                <tr>
                  <!-- <th scope="col" style="width: 100px">ID</th>
                  <th scope="col" style="width: 100px">Fotografia</th> -->
                   <th scope="col" style="width: 100px">Nombres</th>
                  <th scope="col">Email</th>
                  <th scope="col">Rol</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Fecha de creación</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let project of projectData">
                  <!-- <td>{{project.id}}</td>
                  <td>
                    <img src="{{project.fotografia}}" alt class="avatar-sm" />
                  </td> -->
                  <td>
                    <h5 class="text-truncate font-size-14">
                      <a href="javascript: void(0);" class="text-dark">{{project.nombre}}</a>
                    </h5>
                    <!-- <p class="text-muted mb-0">{{project.email}}</p> -->
                  </td>
                  <td>{{project.email}}</td>
                 
                  <td>{{project.rol | titlecase}}</td>
                  <td>
                    <p class="text-muted mb-0" *ngIf="project.status">Activo</p>
                    <p class="text-muted mb-0" *ngIf="!project.status">Inactivo</p>
                   </td>
                   <td>{{project.created_at}}</td>
                  <!-- <td>
                    <div class="team">
                      <a href="javascript: void(0);" class="team-member d-inline-block">
                        <img src="{{project.users[0]}}" class="rounded-circle avatar-xs m-1" alt />
                      </a>
  
                      <a href="javascript: void(0);" class="team-member d-inline-block">
                        <img src="{{project.users[1]}}" class="rounded-circle avatar-xs m-1" alt />
                      </a>
                    </div>
                  </td> -->
                  <td>
                    <div class="dropdown" ngbDropdown placement="bottom-right">
                      <a href="javascript: void(0);" class="dropdown-toggle card-drop" ngbDropdownToggle>
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                       
                        <a class="dropdown-item"  (click)="activar(project.id)">Activar</a>
                        <!-- <a class="dropdown-item" href="javascript: void(0);">Something else here</a> -->
                     
                      </div>
                    </div>
                  </td><br><br>
                </tr><br><br>
              </tbody><br>
            </table>
          </div>
        </div>
      </div>
      <ng-template #contentNuevo role="document" let-modal>
      
        <div class="modal-header">
          <h5 class="modal-title mt-0">Nuevo Administrador</h5>
          <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
        </div>
        <div class="modal-body">
         
          <p class="mb-2" hidden>
            ID <br>
            <input id="id"  name="id" type="text"  class="form-control">
          </p>
           <p class="mb-2">
            Nombres <br>
            <input id="nombre"  name="nombre" type="text"  class="form-control"
            placeholder="">
          </p>
          <p class="mb-2">
            Correo <br>
            <input id="email"  name="email" type="text"  class="form-control"
            placeholder="">
            
          </p>
          <p class="mb-2">
            Contraseña 
            <input id="password"  name="password" type="password"  class="form-control"
            placeholder="">
          </p>
          <p class="mb-2">
            Rol <br>
            <select id="rol" name="rol" type="text"  placeholder="Enter Project Budget..."
            class="form-control"> 
            <option value="admin">Administrador</option>
             <option value="developer">Desarrollador</option>               
            <option value="contable">Contable</option>
            <option value="operador">Operador</option>
          </select>
          </p>
        
        </div>
            <div class="modal-footer">
          <button type="submit" class="btn btn-primary" (click)="Actual()" >Actualizar</button> 
          <!--<button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>-->
        </div>
    
      </ng-template>
    </div>
    <!-- end row -->
  
    <div class="row">
      <div class="col-12">
        <div class="text-center my-3">
          <!-- <a href="javascript:void(0);" class="text-success">
            <i class="bx bx-loader bx-spin font-size-18 align-middle mr-2"></i> Load more
          </a> -->
        </div>
      </div>
      <!-- end col-->
    </div>
    <!-- end row -->
  </div>
  <ngx-spinner></ngx-spinner>