<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Comprobante - Tranferencia /Deposito" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-xl-6 col-sm-12" *ngFor="let data of projectData">
      <div class="card text-center">
        <div class="card-body">
          <div *ngIf="data.transferencia_fotografia" class="mb-6">
            <img style="width: 100%; height: 40%;" src="{{data.transferencia_fotografia}}" alt />
          </div>
      
          <!-- <div *ngIf="data.nombre" class="mb-4">
            <img class="rounded-circle avatar-sm" src="{{data.nombre}}" alt />
          </div> -->
          <br>
          <p class="text-muted">VALOR A CANCELAR: ${{data.total}}</p>
          <p class="text-muted">{{data.pago }}</p>
          <p class="text-muted">{{data.fecha }}</p>
          <!-- <p class="text-muted">{{data.id_paquetes}}</p> -->
          <input id="id_transferencia" [(ngModel)]="data.id_transferencia" name="id_transferencia" type="text" class="form-control"
                  placeholder="Ingrese el ID transferencia" style="background-color:#a7dddd" >
          <div>
            <a  class="badge badge-primary font-size-11 m-1" style="color: white;" (click)="activar(data.id_paquetes,data.token,data.id_usuario)">ACTIVAR</a>
            <a  class="badge badge-primary font-size-11 m-1" style="color: white;" (click)="aprobar(data.id,data.id_transferencia)">APROBAR</a>
           
          </div>
          <div>
   
          
             <a class="badge badge-danger font-size-11 m-1" style="color: white;" (click)="openModal(contentEdit, data)">NEGAR</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>

    


  <div class="row">

  </div>
  
  <ng-template #contentEdit role="document" let-modal>
    
    <div class="modal-header">
      <h5 class="modal-title mt-0">Verificación negada</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
     
      <!-- <p class="mb-2" hidden>
        ID <br>
        <input id="id"  name="id" type="text" [(ngModel)]="editdata.nombre" class="form-control">
      
      </p> -->
       <p class="mb-2">
        JUSTIFICACIÓN <br>
        <textarea id="negado"  name="negado" type="text" [(ngModel)]="editdata.negado" class="form-control"
        placeholder="Ingrese la razón por la que no ha sido verificada"></textarea>
        <!--<span class="text-primary">Fernanda Castilla</span>-->
      </p>
     
      
    </div>
        <div class="modal-footer">
      <!-- <button type="submit" class="btn btn-primary" (click)="Actual()" >Actual</button>  -->
      <button type="submit" class="btn btn-primary" (click)="Rechazar(editdata.id,editdata.negado)" >Enviar</button> 
      <!--<button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>-->
    </div>

  </ng-template>
</div> <!-- container-fluid -->
<ngx-spinner></ngx-spinner>