<div class="container-fluid">
  <app-page-title *ngIf="activos" title="Administradores activos" ></app-page-title>
  <app-page-title *ngIf="!activos" title="Administradores inactivos"></app-page-title>

  <div class="row">

    <div class="col-sm-12">
      <div class="text-sm-right">
        <button type="button" (click)="openModalNuevo(contentNuevo)" class="btn btn-success btn-rounded mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i>
          Nuevo administrador</button>
          <button *ngIf="!activos" type="button" (click)="changedData()" class="btn btn-info btn-rounded mb-2 mr-2"><i class="mdi mdi-eye mr-1"></i>
            Inactivos</button>
          <button *ngIf="activos" type="button" (click)="changedData()" class="btn btn-info btn-rounded mb-2 mr-2"><i class="mdi mdi-eye mr-1"></i>
            Activos</button>
      </div>
    </div>

    <div class="col-lg-12">
      <div class>
        <div class="table-responsive">
          <table class="table project-list-table table-nowrap table-centered table-borderless">
            <thead>
              <tr>
                <!-- <th scope="col" style="width: 100px">ID</th>
                <th scope="col" style="width: 100px">Fotografia</th> -->
                 <th scope="col" style="width: 100px">Nombres</th>
                <th scope="col">Email</th>
                <th scope="col">Rol</th>
                <th scope="col">Fecha de creación</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projectData">
                <!-- <td>{{project.id}}</td>
                <td>
                  <img src="{{project.fotografia}}" alt class="avatar-sm" />
                </td> -->
                <td>
                  <h5 class="text-truncate font-size-14">
                    <a href="javascript: void(0);" class="text-dark">{{project.nombre}}</a>
                  </h5>
                  <!-- <p class="text-muted mb-0">{{project.email}}</p> -->
                </td>
                <td>{{project.email}}</td>
               
                <td> <p *ngIf="project.rol === 'admin'">Administrador</p>
                  <p *ngIf="project.rol === 'developer'">Desarrollador</p>
                  <p *ngIf="project.rol === 'contable'">Contable</p>
                  <p *ngIf="project.rol === 'operador'">Operador</p></td>
                 <td>{{project.fecha | date:'mediumDate'}}</td>
                <!-- <td>
                  <div class="team">
                    <a href="javascript: void(0);" class="team-member d-inline-block">
                      <img src="{{project.users[0]}}" class="rounded-circle avatar-xs m-1" alt />
                    </a>

                    <a href="javascript: void(0);" class="team-member d-inline-block">
                      <img src="{{project.users[1]}}" class="rounded-circle avatar-xs m-1" alt />
                    </a>
                  </div>
                </td> -->
                <td>
                  <div class="dropdown" ngbDropdown placement="bottom-right">
                    <a href="javascript: void(0);" class="dropdown-toggle card-drop" ngbDropdownToggle>
                      <i class="mdi mdi-dots-horizontal font-size-18"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                      <a class="dropdown-item" (click)="openModal(contentEdit, project)">Editar</a>
                      <a class="dropdown-item"  *ngIf="activos" (click)="desactivar(project.id)">Desactivar</a>
                      <a class="dropdown-item"  *ngIf="!activos" (click)="activar(project.id)">Activar</a>
                      <!-- <a class="dropdown-item" href="javascript: void(0);">Something else here</a> -->
                   
                    </div>
                  </div>
                </td><br><br>
              </tr><br><br>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <ng-template #contentEdit role="document" let-modal>
      <div class="modal-header">
        <h5 class="modal-title mt-0">Modificar información</h5>
        <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss(closeModal())">×</button>
      </div>
      <div class="modal-body">
       

          <p class="mb-2">
            Fotografía
          </p>
          <div (change)="fileProgressLicencia($event)" class="alert alert-success"> Seleccione aqui...<input type="file" class="custom-file-input" id="customFileLang" lang="es"></div>
          <img [src]="editdata.fotografia" alt="" style="width: 50%; height: 100%;" id="fotografia" nombre="fotografia">
          <br><br>
         <p class="mb-2">
          Nombres <br>
          <input id="nombre"  name="nombre" type="text" [(ngModel)]="editdata.nombre" class="form-control"
          placeholder="">
        </p>
        <p class="mb-2">
          Correo <br>
          <input id="email"  name="email" type="text"  [(ngModel)]="editdata.email"class="form-control"
          placeholder="">
          
        </p>
        <p class="mb-2">
          Contraseña 
          <input id="password"  name="password" type="password" [(ngModel)]="editdata.password" class="form-control"
          placeholder="">
          <!--<span class="text-primary">Fernanda Castilla</span>-->
        </p>
        <p class="mb-2">
          Rol <br>
          <select id="rol" name="rol" type="text" [(ngModel)]="editdata.rol" placeholder="Enter Project Budget..."
          class="form-control"> 
          <option value="admin">Administrador</option>
          <option value="developer">Desarrollador</option>               
          <option value="contable">Contable</option>
          <option value="operador">Operador</option>
         
        </select>
        </p>
      
        
      </div>
          <div class="modal-footer">
        <!-- <button type="submit" class="btn btn-primary" (click)="Actual()" >Actual</button>  -->
        <button type="submit" class="btn btn-primary" (click)="actualizar()" >Actualizar</button> 
        <!--<button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>-->
      </div>
      <ngx-spinner></ngx-spinner>
    </ng-template>
    
    <ng-template #contentNuevo role="document" let-modal>
      <div class="modal-header">
        <h5 class="modal-title mt-0">Nuevo usuario</h5>
        <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss(closeModal())">×</button>
      </div>
      <div class="modal-body">
      
          <p class="mb-2">
            Fotografía
          </p>
          <div (change)="fileProgress($event)" class="alert alert-success"> Seleccione aqui...<input type="file" class="custom-file-input" id="customFileLang" lang="es"></div>
          <img [src]="newUser.fotografia" alt="" style="width: 50%; height: 100%;" id="fotografia" nombre="fotografia">
          <br><br>

          
         <p class="mb-2">
          Nombres <br>
          <input id="nombre"  name="nombre" type="text" [(ngModel)]="newUser.nombre" class="form-control"
          placeholder="">
        </p>
        <p class="mb-2">
          Correo <br>
          <input id="email"  name="email" type="text"  [(ngModel)]="newUser.email"class="form-control"
          placeholder="">
          
        </p>
        <p class="mb-2">
          Contraseña 
          <input id="password"  name="password" type="password" [(ngModel)]="newUser.password" class="form-control"
          placeholder="">
          <!--<span class="text-primary">Fernanda Castilla</span>-->
        </p>
        <p class="mb-2">
          Rol <br>
          <select id="rol" name="rol" type="text" [(ngModel)]="newUser.rol" placeholder="Ingresa un rol..."
          class="form-control"> 
          <option value="admin">Administrador</option>
          <option value="developer">Desarrollador</option>               
          <option value="contable">Contable</option>
          <option value="operador">Operador</option>
         
        </select>
        </p>
      
        
      </div>
          <div class="modal-footer">
        <!-- <button type="submit" class="btn btn-primary" (click)="Actual()" >Actual</button>  -->
        <button type="submit" class="btn btn-primary" (click)="created()">Crear usuario</button> 
        <!--<button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>-->
      </div>
      <ngx-spinner></ngx-spinner>
    </ng-template>
  </div>
</div>
<ngx-spinner></ngx-spinner>