<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Pagos" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->

  <div class="row">
    <div class="col-xl-6 col-sm-12" *ngFor="let list of listData">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="text-lg-center">
                <div *ngIf="!list.image" class="avatar-sm mr-3 mx-lg-auto mb-4 float-left float-lg-none">
                  <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-16">
                    {{ list.name.charAt(0)}}
                  </span>
                </div>
                <img *ngIf="list.image" src="{{list.image}}"
                  class="avatar-sm mr-3 rounded-circle mb-4 float-left float-lg-none" alt="img">
                <h5 class="mb-1 font-size-15 text-truncate">{{ list.name }}</h5>
                <a href="javascript: void(0);" class="text-muted">@2Look</a>
              </div>
            </div>

            <div class="col-lg-8">
              <div>
                <a routerLink="/invoices/detail" class="d-block text-primary mb-2">Invoice {{ list.id }}</a>
                <h5 class="text-truncate mb-4 mb-lg-5">{{ list.title }}</h5>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mr-3">
                    <h5 class="font-size-14" placement="top" ngbTooltip="Amount"><i
                        class="bx bx-money mr-1 text-primary"></i> {{ list.amount}}</h5>
                  </li>
                  <li class="list-inline-item">
                    <h5 class="font-size-14" placement="top" ngbTooltip="Due Date"><i
                        class="bx bx-calendar mr-1 text-primary"></i> {{list.date}}</h5>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-12">
      <div class="text-center my-3">
        <!-- <a href="javascript:void(0);" class="text-success"><i
            class="bx bx-loader bx-spin font-size-18 align-middle mr-2"></i> Load more </a> -->
      </div>
    </div> <!-- end col-->
  </div>

</div> <!-- container-fluid -->
<ngx-spinner></ngx-spinner>