

<div class="home-btn d-none d-sm-block">
  <a href="/" class="text-dark"><i class="fas fa-home h2"></i></a>
</div>
<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4" >
                  <h5 class="text-primary"  >Bienvenido!</h5>
                  <p>Iniciar sesión para continuar con 2Look.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/verification-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a href="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img src="assets/images/2look.png" alt="" class="rounded-circle" height="60px">
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2"> 
              <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div class="form-group mb-3">
                  <label for="email">Correo</label>
                  <input type="email" formControlName="email" class="form-control" id="email" placeholder="Ingrese su correo"/>
                </div>

                <div class="form-group mb-3">
                  <label for="password">Contraseña</label>
                  <input type="password" formControlName="password" class="form-control" id="password" placeholder="Ingrese su contraseña" />
                </div>
                <br> 

                <div class="mt-3">
                  <button class="btn btn-primary btn-block" style="border: #9c0464;" type="submit">Ingresar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="mt-5 text-center">
          <p>© {{year}} 2Look. Elaborado por
          <img src="../assets/images/vinary.png" style="width: 20%; height: 20%;"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner></ngx-spinner>
<!-- end page -->

