<div class="container-fluid">
  <!-- <app-page-title title="Paymentez"></app-page-title> -->
  <div class="col-lg-12">
    <div class>
      <div class="table-responsive">
        <table class="table project-list-table table-nowrap table-centered table-borderless">
          <thead>
            <tr>
              <!-- <th scope="col" style="width: 100px">ID</th>
              <th scope="col" style="width: 100px">Fotografia</th> -->
              <th scope="col" style="width: 100px">Usuario</th>
              <th scope="col">Transaction id</th>
              <th scope="col">Card transaction reference</th>
              <th scope="col">Transaction authorization code</th>
              <th scope="col">Transaction amount</th>
              <th scope="col">Transaction payment date</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of projectData">
              <td>
                <h5 class="text-truncate font-size-14">
                  <a href="javascript: void(0);" class="text-dark">{{project.usuario.nombre}}</a>
                </h5>
              </td>
              <td>{{project.transaction_id}}</td>
              <td>{{project.transaction_reference}}</td>
                <td>{{project.transaction_authorization_code}}</td>
                <td>{{project.transaction_amount}}</td>
                <td>{{project.transaction_payment_date | date:'mediumDate'}}</td>
              <td>
                <div class="dropdown" ngbDropdown placement="bottom-right">
                  <a href="javascript: void(0);" class="dropdown-toggle card-drop" ngbDropdownToggle>
                    <i class="mdi mdi-dots-horizontal font-size-18"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="reverso(project)">Reverzo</a>
                  </div>
                </div>
              </td><br><br>
            </tr><br><br>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>