<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="POR PAGAR EN EFECTIVO" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <!-- end page title -->
<h5>SERVICIOS</h5> <hr>
  <div class="row">
    <div class="col-xl-6 col-sm-12" >
      <div class="card text-center">
        <div class="card-body">
          
          <table class="table table-responsive-sm">
            <tr *ngFor="let user of usuarios">
              <th>Encargado</th>
              <th>
                <p class="text-muted">{{user.nombre}}</p>
                <p class="text-muted">{{user.correo}}</p>
                <p class="text-muted">{{user.celular}}</p>
              </th>
             
          </tr>
          <tr *ngFor="let user of usuarior">
            <th>Solicitante</th>
            <th>
              <p class="text-muted">{{user.nombre}}</p>
              <p class="text-muted">{{user.correo}}</p>
              <p class="text-muted">{{user.celular}}</p>
            </th>
           
        </tr>
            <tr *ngFor="let data of servicio">
                <th>Ciudad-Tipo-Lugar</th>
                <th>
                  <p class="text-muted">{{data.direccion }}-{{data.subcategoria |titlecase }}-{{data.tipo | titlecase }}</p>
              </th>
           </tr>
           
           <tr *ngFor="let data of servicio">
            <th>FECHA ACEPTADA</th>
            <th>
              <!-- <p class="text-muted">{{data.fechaaceptada | date:'mediumDate'}}</p> -->
              <p class="text-muted">{{data.fecha}}</p>
            </th>
              
           </tr>
           <tr *ngFor="let data of servicio">
               <th>TOTAL</th>
               <th><p class="text-muted">{{data.total }}</p></th>
              
           </tr>
          
        </table>

        </div>
      
      </div>
    </div>
  </div>

    <h5>PRODUCTOS</h5> <hr><br>
    <div class="row">
    <div class="col-xl-6 col-sm-12">
      <div class="card text-center">
        <div class="card-body">
        
          <table class="table table-responsive-sm">
            <tr *ngFor="let user of usuarios2">
              <th>Encargado</th>
              <th>
                <p class="text-muted">{{user.nombre}}</p>
                <p class="text-muted">{{user.correo}}</p>
                <p class="text-muted">{{user.celular}}</p>
              </th>
             
          </tr>
          <tr *ngFor="let user of usuarior2">
            <th>Solicitante</th>
            <th>
              <p class="text-muted">{{user.nombre}}</p>
              <p class="text-muted">{{user.correo}}</p>
              <p class="text-muted">{{user.celular}}</p>
            </th>
           
        </tr>
            <tr *ngFor="let data of producto">
                <th>Ciudad-Tipo-Lugar</th>
                <th>
                  <p class="text-muted">{{data.direccion }}-{{data.subcategoria |titlecase }}-{{data.tipo | titlecase }}</p>
              </th>
           </tr>
           
           <tr *ngFor="let data of producto">
            <th>FECHA ACEPTADA</th>
            <th><p class="text-muted">{{data.fecha}}</p>
            </th>
              
           </tr>
           <tr *ngFor="let data of producto">
               <th>TOTAL</th>
               <th><p class="text-muted">{{data.total }}</p></th>
              
           </tr>
          
        </table>
        </div>
      
      </div>
    </div>
  </div>
  
  <!-- end row -->

  <div class="row">
    <!-- <div class="col-12">
      <div class="text-center my-3">
        <a href="javascript:void(0);" class="text-success"><i class="bx bx-hourglass bx-spin mr-2"></i> Load more </a>
      </div>
    </div>  -->
  </div>
  <!-- end row -->

</div> <!-- container-fluid -->
<ngx-spinner></ngx-spinner>