<div class="container-fluid">
  <app-page-title title="USUARIOS-PROFESIONALES BLOQUEADOS" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <!-- <div class="col-sm-4">
                <div class="search-box mr-2 mb-2 d-inline-block">
                  <div class="position-relative">
                    <h4 class="card-title">Profesionales activos</h4>
                    <p class="card-sub-title">
                     
                    </p>
                  </div>
                </div>
              </div> -->
            <!-- <div class="col-sm-8">
                <div class="text-sm-right">
                  <button (click)="openModal2(contentNuevoUser)" type="button" class="btn btn-success btn-rounded mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i>
                    Nuevo usuario</button>
                </div>
              </div> -->
          </div>


          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Mirar
                  <select name="tickets-table_length" aria-controls="tickets-table" name="pageSize"
                    [(ngModel)]="service.pageSize" class="form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> registros</label></div>
            </div>
            <!-- Search -->
            <div class="col-sm-12 col-md-6">
              <div id="tickets-table_filter" class="dataTables_filter text-md-right"><label
                  class="d-inline-flex align-items-center">Buscar:
                  <input type="text" name="searchTerm" class="form-control form-control-sm ml-2"
                    aria-controls="tickets-table" [(ngModel)]="service.searchTerm"></label></div>
            </div>
            <!-- End search -->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
              <thead>
                <tr>
                  <th></th>
                  <th sortable="name" (sort)="onSort($event)">Nombre Empresa</th>
                  <th sortable="position" (sort)="onSort($event)">Nombre</th>
                  <th sortable="office" (sort)="onSort($event)">Correo</th>
                  <th sortable="age" (sort)="onSort($event)">Telefono</th>
                  <th sortable="age" (sort)="onSort($event)">Estrellas</th>
                  <th sortable="age" (sort)="onSort($event)">Experiencia (Años)</th>
                  <th sortable="date" (sort)="onSort($event)">Tipo</th>

                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody *ngFor="let table of projectData2; let i=index;">
                <tr>
                  <td align="center">
                    <a class="expand-row" (click)="changeValue(i)">
                      <img src="assets/images/plus.ico" alt="" class="rounded" style="height: 20px;">
                    </a>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.nombreEmpresa" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.nombre" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.correo" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.celular" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.estrellas" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.anosExperiencia" [term]="service.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="table.tipo" [term]="service.searchTerm"></ngb-highlight>
                  </td>

                  <td>
                    <div ngbDropdown placement="bottom-left">
                      <i class="mdi mdi-dots-vertical dropdown-toggle" ngbDropdownToggle data-toggle="dropdown"
                        aria-expanded="true"></i>
                      <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" (click)="desbloquear(table)"><i
                            class="mdi mdi-plus"></i>Desbloquear</a>
                        <!-- <a class="dropdown-item" (click)="recomendar(table.id)"><i
                              class="mdi mdi-account-edit"></i>Recomendar</a> -->
                      </div>

                    </div>

                  </td>
                </tr>


                <tr *ngIf="!hideme[i]" class="sub-table no-bg">
                  <td align="center"> </td>
                  <td colspan="15" class="p-0">
                    <table class="table mb-0 table-striped">
                      <thead class="bg-dark text-white">
                        <tr>
                          <th>Cédula</th>
                          <th>Cédula verificada</th>
                          <!-- <th>Teléfono verificado</th> -->
                          <th>Correo Verificado</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <div class="dropdown" ngbDropdown placement="bottom-right">
                              <button type="button" class="btn btn-info btn-sm btn-rounded"
                              (click)="openModal(contentCedula, table)">Ver fotografía</button>
                              <!--   <a class="dropdown-item" (click)="delete(project)">Eliminar</a>-->


                            </div>
                          </td>
                          <td>
                            <p class="text-muted mb-0" *ngIf="table.verif_cedula">SI</p>
                            <p class="text-muted mb-0" *ngIf="!table.verif_cedula">NO</p>
                          </td>
                          <!-- <td>
                              <p class="text-muted mb-0" *ngIf="table.verif_celular">SI</p>
                              <p class="text-muted mb-0" *ngIf="!table.verif_celular">NO</p>
                            </td> -->
                          <td>
                            <p class="text-muted mb-0" *ngIf="table.verif_correo">SI</p>
                            <p class="text-muted mb-0" *ngIf="!table.verif_correo">NO</p>
                          </td>
                          <!-- <td>{{table.verif_correo}}</td> -->
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <br><br><br><br>
          </div>
          <!-- End table -->
          <div class="row justify-content-md-between align-items-md-center mt-2">
            <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Listando
                {{service.startIndex}} a
                {{service.endIndex}} de {{service.totalRecords}}
                registros
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>



  </div>


  <ng-template #contentCedula role="document" let-modal>

    <div class="modal-header">
      <h5 class="modal-title mt-0">Cédula</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
      <table class="table">
        <tr>


          <th>
            <div *ngIf="!editdata.cedula" class="mb-6">
              No tiene fotografia

            </div>
            <div *ngIf="editdata.cedula" class="mb-6">

              <img style="width: 100%; height: 40%;" src="{{editdata.cedula}}" alt />
            </div>
            <!-- <img id="cedula" disabled style="border: transparent; width: 100%; height: 20rem;" name="cedula"
              src="{{editdata.fotografia_perfil}}" class="form-control"> -->

          </th>
        </tr>
        <tr hidden>
          <th>ID </th>
          <th><input id="id" disabled style="border: transparent;" name="id" type="text" [(ngModel)]="editdata.nombre"
              class="form-control"></th>
        </tr>


      </table>
    </div>
  </ng-template>

  <ng-template #contentNuevoUser role="document" let-modal>

    <div class="modal-header">
      <h5 class="modal-title mt-0">Nuevo Usuario</h5>
      <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">

      <p class="mb-2" hidden>
        ID <br>
        <input id="id" name="id" type="text" class="form-control">
      </p>
      <p class="mb-2">
        Nombres <br>
        <input id="nombre" name="nombre" type="text" class="form-control" placeholder="">
      </p>
      <p class="mb-2">
        Correo <br>
        <input id="email" name="email" type="text" class="form-control" placeholder="">

      </p>
      <p class="mb-2">
        Contraseña
        <input id="password" name="password" type="password" class="form-control" placeholder="">
      </p>
      <p class="mb-2">
        Rol <br>
        <select id="rol" name="rol" type="text" placeholder="Enter Project Budget..." class="form-control">
          <option value="admin">Administrador</option>
          <option value="developer">Desarrollador</option>
          <option value="contable">Contable</option>
          <option value="operador">Operador</option>
        </select>
      </p>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" (click)="Actual()">Actualizar</button>
      <!--<button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>-->
    </div>

  </ng-template>

</div>
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Modal Heading</h5>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">×</button>
  </div>
  <div class="modal-body">
    <h5>Overflowing text to show scroll behavior</h5>
    <p>Cras mattis consectetur purus sit amet fermentum.
      Cras justo odio, dapibus ac facilisis in,
      egestas eget quam. Morbi leo risus, porta ac
      consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque
      nisl consectetur et. Vivamus sagittis lacus vel
      augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur.
      Praesent commodo cursus magna, vel scelerisque
      nisl consectetur et. Donec sed odio dui. Donec
      ullamcorper nulla non metus auctor
      fringilla.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</ng-template>
<ngx-spinner></ngx-spinner>