<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{year}} © 2Look.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    <p> Elaborado por
                        <img src="../assets/images/vinary.png" style="width: 20%; height: 20%;">
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>