
<div class="container-fluid" >

    <app-page-title title="Reporte - Usuarios" [breadcrumbItems]="breadCrumbItems"></app-page-title>
   
   <!--BUSCAR FILTRO-->
    <!-- <input #search class="search" type="text" placeholder="Buscar..." (keydown.enter)="onSearch(search.value)"> -->
   
    <!-- <div style="overflow: scroll; width: 100%;"> -->
      <!-- <div style="overflow: scroll;"> -->
      <div >
      
        <div class="col-sm-3 col-md-12">
         
          <div class="row">
           
            <div class="col-12">
              <div style="overflow-x:auto;">
                  <table  class="table table-condensed" >
                    <tr>
                        <th>
                            <span class="logo-sm">
                                <img src="assets/images/2look.ico" alt="" style="border-radius: 1px; height: 25%; "> 
                            
                            </span>
                        </th>
                      <th>
                        <span class="logo-sm">
                          
                        Reporte usuarios 2Look!
                        </span>
                          </th>
                   
                  <!-- <th hidden>
                      <img src="{{sesion.currentUser.fotografia}}"  alt="client-img"
                    class="img-thumbnail avatar-md">   
                </th>    -->
                <th>{{authenticated.currentUser.nombre}}</th>
                <th> 
                    <!-- <p class="text-muted mb-0" >{{sesion.currentUser.nombre}}</p> -->
                </th> 
                <th><p *ngIf="authenticated.currentUser.rol === 'admin'">Administrador</p>
                                <p *ngIf="authenticated.currentUser.rol === 'developer'">Desarrollador</p>
                                <p *ngIf="authenticated.currentUser.rol === 'contable'">Contable</p>
                                <p *ngIf="authenticated.currentUser.rol === 'operador'">Operador</p></th>
                <th>
                  <!-- <p class="text-muted mb-0" *ngIf="sesion.currentUser.rol=== 'admin'">Administrador</p>
                    <p class="text-muted mb-0" *ngIf="sesion.currentUser.rol==='developer'">Desarrollador</p>
                    <p class="text-muted mb-0" *ngIf="sesion.currentUser.rol=== 'contable'">{{sesion.currentUser.rol | titlecase}}</p>
                    <p class="text-muted mb-0" *ngIf="sesion.currentUser.rol==='operador'">{{sesion.currentUser.rol | titlecase}}</p>
                     -->
               
                
                </th>
                    
                    <th>  <button onclick="window.print()"  class="btn btn-success" style="background-color: #04a8a8;">Imprimir/Guardar</button>
                    </th>
                 
                              
                  </tr>
                
                <!-- <tr>
                    
                   
                    <th colspan="1" >  <button onclick="window.print()"  class="btn btn-success" style="background-color: #04a8a8;">Imprimir/Guardar</button>
                    </th>
                  
                   </tr> -->
                  </table>
                </div>
                 
               
            </div>
            <!-- <div class="col-2 align-self-end">
               <img src="assets/images/profile-img.png" alt="" class="img-fluid">
            </div> -->
         
           
        </div>
       
          </div>  

        
    </div>

    
  
    <div class="row">
      <div class="col-12">
        <div style="overflow-x:auto;">
        <ng2-smart-table style="font-size: small" [settings]="settings" [source]="source" class="w3-table w3-striped"></ng2-smart-table>
        <!-- <ng2-smart-table style="font-size: small" [settings]="settings" [source]="source"></ng2-smart-table> -->
      </div>
   </div>
    </div>

  
  </div>
  
  
  <ngx-spinner></ngx-spinner>